/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato-v17-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/lato-v17-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v17-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/lato-v17-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v17-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: rgb(5, 5, 5);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-full {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*HEADER*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 56px;
  transition: 0.2s linear;
  padding-bottom: 20px;
  z-index: 10;
}

.header_active {
  background-color: #0e1d28;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

/**Обнуляем оступ последнего дочернего элемента меню**/

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
}

.header__burger {
  width: 40px;
  height: 28px;
  position: relative;
  display: none;
}

.burger__line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;

}

.burger__line--1 {
  top: 0;
}

.burger__line--2 {
top: 50%;
transform: translateY(-50%);
}

.burger__line--3 {
bottom: 0;
}
/*HEADER END*/

/*MAIN*/

/*Intro styles start*/

.intro {
  min-height: 100vh;
  background: url(../img/Hero.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
}

.intro__title {
  max-width: 620px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 22px;
}

.intro__subtitle {
  max-width: 546px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-bottom: 59px;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background-color: transparent;
  background: url(../img/svg/Oval.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  outline: 0;
  outline-offset: 0;
}

.search-form__field::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.search-form__submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  background: #1b7dff;
  border: 0;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
  background: rgb(44, 58, 250);
}

/*Intro styles end*/

/*Benefits styles start*/

.benefits {
  margin-bottom: 131px;
}

.benefits__wrap {
  max-width: 1260px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #fff;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits__card-pic {
  margin-bottom: 37px;
}

.benefits__card-icon {
  display: block;
}

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits__card-title-desc {
  margin-bottom: 39px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.benefits__card-more {
  display: inline-block;
  padding-right: 59px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/Shape.svg) no-repeat 95% center;
  transition: 0.2s all;
}

.benefits__card-more:hover,
.benefits__card-more:focus {
  background: url(../img/svg/Shape.svg) no-repeat right center;
}

/*Benefits styles end*/

/*Places start*/

.places__view-all {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/Shape.svg) no-repeat right;
  padding: 0 50px;
}

.places__view-all:hover {
  opacity: 85%;
}

.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.places__title {
  margin-right: 15px;
  position: relative;
}

.places__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 2px;
  background-color: #006dfe;
  right: 0;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-bottom: 130px;
}

.places__card--size_lg {
  grid-column: span 3;
  position: relative;
}

.places__card-pic {
  height: 354px;
  width: 100%;
  transition: 0.5s all;
}

.places__card-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
}

.places__card {
  overflow: hidden;
}

.places__card:hover .places__card-pic {
  transform: scale(1.1);
}

.places__card-pic--size-sm {
  height: 283px;
  width: 100%;
  transition: 0.5s all;
}

.places__card--size_sm {
  grid-column: span 2;
  position: relative;
}
/*Places end*/

/*Tours start*/
.tours {
  margin-bottom: 139px;
}

.tour__info {
  padding-right: 47px;
}
.tour__info2 {
  padding-left: 47px;
}

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 85px;
}

.tour__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #102746;
  margin-bottom: 85px;
}

.tour__desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 58px;
}

.tour__more {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/Shape.svg) no-repeat right;
  padding-right: 50px;
}

.tour__more:hover {
  opacity: 85%;
}

/*Tours end*/

/*Top start*/
.top {
  margin-bottom: 86px;
}
.top__title {
  position: relative;
  margin-bottom: 64px;
}

.top__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
  margin-bottom: 144px;
}

.top__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 2px;
  background-color: #006dfe;
}

.top__card-pic {
  position: relative;
  margin-bottom: 40px;
}

.top__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin: 0 auto 0 0; /*прибиваем к левому краю Тайтл*/
}

.top__card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
  justify-content: flex-end;
}

.top__card-likes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 20px;
  background: url(../img/svg/heart.svg) no-repeat right;
  margin-right: 14px;
}

.top__card-comments {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 23px;

  background: url(../img/svg/msg.svg) no-repeat right;
}

.top__card-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 40px;
}

.top__card-more {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
  padding: 12px 20px;
  color: #ffffff;
  background: #1b7dff;
  border: 0;
  text-decoration: none;
  width: 118px;
  margin: auto 0 0 0; /*прибиваем кнопку к низу карточки, чтобы при увеличении контента она была внизу*/
}

.top__card-more:hover,
.top__card-more:focus,
.top__card-more:active {
  background: rgb(44, 58, 250);
}

.top__card {
  display: flex;
  flex-direction: column; /*прибиваем кнопку к низу карточки, чтобы при увеличении контента она была внизу*/
}
/*Top end*/

/*Video start*/

.videos {
  width: 100%;
}

.videos__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.videos__item {
  padding-top: 56.25%;
}

.videos__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Video end*/

/*FOOTER start*/

.footer {
  background-color: #0e1d28;
  padding: 119px 0;
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
}

.footer__logo {
  width: 50%;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.footer__menu-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.footer__menu-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

.footer__menu-link:hover {
  opacity: 80%;
}

/*FOOTER end*/


/*MEDIA START*/

@media screen and (max-width:767px) {
    .header__burger {
      display: block;
    }

    .header__nav {
      position: fixed;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       background-color: rgb(22, 22, 22);
       z-index: 10;
       padding: 70px;
       transform: translateX(100%);
       transition: .2s all linear;

    }
.header__nav--active {
  transform: translateX(0);
}


    .header__item {
      width: 100%;
      margin-right: 0;
    }

    .header__link {
      font-size: 45px;
      line-height: 80px;
    }

    .header__nav--close {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 11;
    }

    .header__nav-close-line {
      width: 100%;
      display: block;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      

    }

    .header__nav-close-line:first-child {
      transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
      transform: translateY(-50%) rotate(-45deg);
    }


}